name: acceptance-test

on:
  pull_request:
    paths:
      - .github/workflows/acceptance-test.yaml
      - '**.go'
      - go.*
      - acceptance_test/**
  push:
    branches:
      - master
    paths:
      - .github/workflows/acceptance-test.yaml
      - '**.go'
      - go.*
      - acceptance_test/**

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: true
      - run: go build -ldflags '-X main.version=${{ github.ref_name }}'
      - run: make -C acceptance_test
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: make -C acceptance_test clean-up
        if: always()
